<AddTask> Add Task </AddTask>
{{#if @model}}
    {{#each @model as |task|}}
        <p>
            <LinkTo @route='subtasks' @model={{task.id}}>{{task.name}} </LinkTo> 
            <LinkTo @route='task' @model={{task}}><button>edit</button></LinkTo>
            <button {{on "click" (fn this.deleteMessage task.id) }}>Delete</button>
        </p>
    {{/each}}
{{else}}
    <h2>No Tasks</h2>
{{/if}}

